/Saved/
/Intermediate/
/Build/
/DerivedDataCache/
/Plugins/FMODStudio/Binaries/
/Plugins/FMODStudio/Intermediate/
/.vs/
*.db
*.opendb
*.sdf
*.opensdf
*.sln
*.suo
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.ipch
*.db_shm
*.pdb
*DebugGame.dll